In [3]:
import quandl
import pandas as pd

In [25]:
df = quandl.get('ODA/PBANSOP_USD',api_key='kDjxxfMCr6Cdq8dRbkke')

In [26]:
df.tail(5)

                  Value
Date
2019-01-31  1139.502762
2019-02-28  1149.171271
2019-03-31  1179.623783
2019-04-30  1175.916625
2019-05-31  1125.690608